
.cover{
  width: 100%;
  height: 60%;

  position: center;
  top: -50px;
  left: calc(50% - 50px);
  background-color:rgba(211,211,211,0.50);
}

.header{
    margin-top: -47px;
    width: 100%;
    height: 100px;
    background-color: #0000FF;
}




.header h1{
    padding-top: 10px;
    padding-left: 110px;
    padding-bottom: 0px;
    text-align: left;
    font-size: 50px;
    color: snow;
    font-family: Segoe UI;
}
.header h2{
    padding-left: 110px;
    font-size: 15px;
    color: snow;
    font-family: Segoe UI;
}
.header h5{
    padding-left: 10px;
    font-size: 15px;
    color: black;
    font-family: Segoe UI;
}



.box{
  width: 300px;
  height:350px;
  background: #000;
  color: #fff;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-90%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-color:rgba(128,128,128,0.8);

}
.spama_lapangan{
  width: 100px;
  height: 100px;
  border-radius: 10%;
  position: absolute;
  top: -30px;
  left: calc(50% - 50px);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h3{
 text-align: left;
 color: black;
 font-size: 14px;
 font-weight: bold;
 line-height: -5;
 font-family: Comic Sans MS;
}

h4{
 text-align: left;
 color: black;
 font-size: 12px;
 line-height: -5;
 font-family: Comic Sans MS;
}

h5{
  text-align: left;
  font-size: 18px;
  font-family: Segoe UI;
  top: 100px;
  left: 10px;
}

.cover{
  width: 1349px;
  height: 620px;
  opacity: 50px;
  position: center;
  top: -50px;
  left: calc(50% - 50px);
}

.header{

      margin-top: -81px;
      width: 100%;
      height: 100px;
      background-color: #0000FF;

}

.page-footer{
  transform: translateY(40%);
  width: 100%;
  height: 100px;
  background-color: #0000FF;
}

.footer-copyright{
  transform: translateY(200%);
  width: 849px;
  height: 20px;
  background-color:rgba(135,206,250,0.8);
  padding-left: 40%;
  font-size: 15px;
  color: black;
  font-family: Segoe UI;
}



.header h1{
    padding-top: 10px;
    padding-left: 110px;
    padding-bottom: 0px;
    text-align: left;
    font-size: 50px;
    color: snow;
    font-family: Segoe UI;
}
.header h2{
    padding-left: 110px;
    font-size: 15px;
    color: snow;
    font-family: Segoe UI;
}
.header h5{
    padding-left: 10px;
    font-size: 15px;
    color: black;
    font-family: Segoe UI;
}

.logo_pojok_kiri{
  width: 90px;
  height: 90px;
  padding-top: 5px;
  padding-left: 5px;
  position: absolute;
}



h3{
 text-align: left;
 color: black;
 font-size: 14px;
 font-weight: bold;
 line-height: -5;
 font-family: Comic Sans MS;
}

h4{
 text-align: left;
 color: black;
 font-size: 12px;
 line-height: -5;
 font-family: Comic Sans MS;
}

h5{
  text-align: left;
  font-size: 18px;
  font-family: Segoe UI;
  top: 100px;
  left: 10px;
}

.page-footer h8{
    padding-top: 10px;
    padding-left: 110px;
    padding-bottom: 0px;
    text-align: left;
    font-size: 50px;
    color: snow;
    font-family: Segoe UI;
}

.contack{
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  width: 300px;
  text-align: center;

  padding-top: 0%;
  padding-left:70%;
  text-align: left;
  font-size: 20px;
  color: snow;
  font-family: Segoe UI;
  font-weight: bold;
}


.icon_pelajaran{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 15%;
  left: 46%;
}

.icon_pelajaran:hover{
  cursor: pointer;
  transform: scale(1.1);
  color: #000;
}

body{
  padding: 0;
  margin: 0;
}
.middle{
  position: absolute;
  top: 20%;
  transform: translateY(-75%);
  width: 85%;
  text-align: center;
}
.btn{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: rgba(173,196,222);
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 50px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
